**/paper/cache*
**/paper/logs*
**/paper/world/*
**/world_the_end/*
**/bStats/config.yml
**/translations/*
**/.archive-unpack/*
**/dynmap/web/*
**/dynmap/colorschemes/*
**/dynmap/templates/*
README
eula.txt
lastupdate
semicolon_delimited_script
.dat
.db
.sqlite
version_history.json
