**/.archive-unpack/*
**/bStats/config.yml
**/dynmap/colorschemes/*
**/dynmap/lightings.txt
**/dynmap/perspectives.txt
**/dynmap/shaders.txt
**/dynmap/templates/*
**/dynmap/version.txt
**/dynmap/web/*
**/LuckPerms/contexts.json
**/Multiverse-Core/worlds.yml
**/paper/cache*
**/paper/logs*
**/paper/world/*
**/paper/world_nether/*
**/paper/world_the_end/*
**/translations/*
**/Updater/config.yml
**/WorldGuard/worlds/*
*.dat
*.db
*.sqlite
banned-ips.json
banned-players.json
data.yml
en_us.yml
eula.txt
lastupdate
messages.yml
permissions.yml
ops.json
README
semicolon_delimited_script
server.properties
usercache.json
version_history.json
whitelist.json
